package template

import "github.com/gouae/golang.ae/template/layout"

templ Index() {
	@layout.Base("GoUAE/ UAE-based Go User Group") {
		<p>
			A UAE-based community for all those intersted in the Go Programming Language.
			Since our founding on Saturday, May 25, 2024, GoUAE has grown to over 200 members.
			And we are just getting started!
		</p>
	}
}
