package partial


css footerStyle() {

}


templ Footer() {
	<footer class={footerStyle()}>
		<p>
			&copy; 2024 GoUAE
		</p>
		<a href="https://codershq.ae">
			A Coders(HQ) Community
		</a>
	</footer>
}
