package partial

templ Header() {
	<header>
		<h1>
			A <i class="i-go"></i> User Group in the <i class="i-ae"></i> UAE For the <i class="i-mena"></i> MENA region
		</h1>
		@EventBanner(Event{Start: "11:30",
				End:        "1:30",
				Date:       "Saturday, October 26, 2024",
				Location:   "Emirates Towers, Dubai",
				MeetupLink: templ.SafeURL("/")})
	</header>
}
